







<div class="row ptcspacing">
    <div class="col-lg-12 col-xs-12 mx-auto border-bottom">
        <p class="lead" style="font-size: 3em">OUR COMPANY</p>
    </div>
    <div>&nbsp</div>
    <div class="col-lg-12 col-xs-12 text-justify">
        <blockquote>
            <p>Paladin – “A determined advocate or defender of a noble cause.” This term encapsulates the work ethic and fortitude of our professionals, which is why we chose Paladin as our company name.  We place an emphasis on getting to know our clients, their real estate, and their business operations.  We believe that a personable relationship with our clients makes for a more effective tax outcome and a more enjoyable working relationship.  When you hire a Paladin, you can rest assured that your <strong>property tax</strong> issues will be resolved in the most effective manner possible.</p>
        </blockquote>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xs-12 mx-auto text-center">
            <p class="lead" style="font-size: xx-large">LEADERSHIP</p>
        </div>
    </div>
    <div class="card-deck ptccardspacing mx-auto">
        <div class="card border-0">
            <img class="card-img-top img-responsive rounded-circle mx-auto" alt="property-tax-attorney" src="~/App_Themes/images/Frank_Thomas.png" style="width: 140px; height: 140px; margin-left: 0px;" data-holder-rendered="true">
            <h3 class="card-title text-center lead" style="padding: 10px"><b>Frank L. Thomas</b></h3>
            <div class="card-body">
                <div class="card-text text-center">
                    <p> </p>
                    <!--<a href="mailto:info@proptaxprotest.com">frank@proptaxprotest.com</a>-->
                    <p>Retired</p>
                    <!--<a href="vcards/Frank Thomas.vcf">
                        <p class="no-padding"><small>Download vCard</small></p>
                    </a>-->
                    <p> </p><br /><br />
                    <br />

                    <button class="btn btn-ptc" type="button" data-toggle="collapse" data-target="#frankbio" aria-expanded="false" aria-controls="frankbio">Read Bio</button>

                </div>
            </div>
        </div>
        <div class="card border-0">
            <img class="card-img-top img-responsive rounded-circle mx-auto" alt="property-tax-consultants-in-San-Antonio" src="~/App_Themes/images/Ben_Thomas.png" style="width: 140px; height: 140px; margin-left: 0px;" data-holder-rendered="true">
            <h3 class="card-title text-center lead" style="padding: 10px"><b>Benjamin T. Thomas</b></h3>
            <div class="card-body">
                <div class="card-text text-center">
                    <a href="mailto:ben@proptaxprotest.com">ben@proptaxprotest.com</a>
                    <p>Office: 210.776.1833</p>
                    <a href="vcards/Benjamin Thomas.vcf">
                        <p class="no-padding"><small>Download vCard</small></p>
                    </a>
                    <br />

                    <button class="btn btn-ptc" type="button" data-toggle="collapse" data-target="#benbio" aria-expanded="false" aria-controls="benbio">Read Bio</button>

                </div>
            </div>
        </div>
        <div class="card border-0">
            <img class="card-img-top img-responsive rounded-circle mx-auto" alt="property-tax-consultants-in-Corpus" src="~/App_Themes/images/DanielHS.png" style="width: 140px; height: 140px; margin-left: 0px;" data-holder-rendered="true">
            <h3 class="card-title text-center lead" style="padding: 10px"><b>Daniel Ortiz</b></h3>
            <div class="card-body">
                <div class="card-text text-center">
                    <a href="mailto:Daniel@proptaxprotest.com">daniel@proptaxprotest.com</a>
                    <p>Office: 210.766.1833</p>
                    <a href="vcards/Daniel Ortiz.vcf">
                        <p class="no-padding"><small>Download vCard</small></p>
                    </a>
                    <br />

                    <button class="btn btn-ptc" type="button" data-toggle="collapse" data-target="#danbio" aria-expanded="false" aria-controls="danbio">Read Bio</button>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="collapse text-justify col-md-12" id="frankbio">
            <p style="padding: 10px">Frank formed Paladin Tax Consultants, LLC with his son Ben in 2013. Prior to Paladin, he performed property tax consulting services as a sole proprietor since 1996.  Previous experience includes 15 years as a commercial real estate appraiser. As an appraiser Frank specialized in apartments, retail, and industrial properties. Additionally, he worked six years as an independent petroleum landman securing oil and gas leases for major energy companies.  He obtained a BBA from East Tennessee State University in 1978 with a major in Real Estate and has subsequently completed graduate level real estate courses.</p>
        </div>
    </div>
    <div class="row">
        <div class="collapse text-justify col-md-12" id="benbio">
            <p style="padding: 10px">Ben was born and raised in Corpus Christi and earned a Bachelors of Business Administration in Finance from Trinity University, where he graduated with honors. Following Trinity, Ben pursued his MBA and M.S. Finance at Texas Tech University. After graduating at the top of his class, Ben joined Paladin in 2013 and is now responsible for marketing the firm’s services and negotiating with taxing entities on his clients’ behalf. During his free time, Ben enjoys fishing, golfing, and spending time with his family.</p>
        </div>
    </div>
    <div class="row">
        <div class="collapse text-justify col-md-12" id="danbio">
            <p style="padding: 10px">
                Daniel joined Paladin Tax Consultants in 2018 as the Chief Information Officer as well as a practicing Property Tax Consultant. Daniel’s primary responsibilities include new business development, research and development, maintaining the firm’s databases and servicing our clients property tax needs.
                <br />
                <br />
                Having served 8 years in the U.S Army, he is a proud combat veteran of Operation Iraqi Freedom (OIF). During his tenure in the military, Daniel earned a bachelor’s of business administration in Real Estate Finance and Development from The University of Texas at San Antonio where he graduated with Business Honors in 2012.
                <br />
                <br />
                Prior to joining Paladin, Daniel worked at Scott B. Retzloff & Associates - a property tax consulting firm based out of San Antonio, TX. During his tenure, he lead the information technology department where he became an expert in understanding the data used by appraisal districts to value real estate. Because of this, he was able to help secure millions of dollars in tax savings for their clients. He was also responsible for producing due diligence reports for acquisitions and new development as well as providing agricultural use roll back estimates for Texas clients.
                <br />
                <br />
                During his down time, he enjoys spending time with his wife and three children which includes family get-togethers, traveling, and local adventures.
            </p>
        </div>
    </div>
</div>
