
<section id="Business-Personal-Property">
    <img src="images/arb_banner.png" alt="" class="img-responsive" style="width: 100%">
    <div class="container">
        <div class="row ptcspacing">
            <div class="col-lg-12 col-xs-12 mx-auto border-bottom">
                <p class="lead" style="font-size: 3em">BINDING ARBITRATION</p>
            </div>
            <div>&nbsp</div>
            <div class="col-lg-12 col-xs-12 mx-auto text-justify textspacebottom">
                <p>Once the property owner or owner’s agent obtains a determining order from the appraisal review board, the property owner has several alternatives for pursuing additional tax relief. The two primary options include filing suit in district court, or <strong>filing for arbitration with the Texas Comptroller</strong>. Each alternative has benefits and risks, which need to be considered carefully by the owner. Arbitration can be a beneficial alternative for several reasons including:</p>
            </div>
            <div class="col-lg-12 col-xs-12 mx-auto textspacebottom">
                <ul>
                    <li>Quicker Resolution</li>
                    <li><strong>Arbitrators</strong> typically have a stronger grasp of property valuation than <strong>appraisal review board</strong> members</li>
                    <li>Lower overall costs</li>
                </ul>
            </div>
            <div class="col-lg-12 col-xs-12 mx-auto textspacebottom">

                <table class="table table-hover">
                    <thead class="bg-dark text-light">
                        <tr>
                            <th scope="col">Property Type</th>
                            <th scope="col">Appraised Value</th>
                            <th scope="col">Deposit</th>
                            <th scope="col">Arbitrator Fee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Residential Homestead</th>
                            <td>$500,000 or less</td>
                            <td>$450</td>
                            <td>$400</td>
                        </tr>
                        <tr>
                            <th scope="row">Residential Homestead</th>
                            <td>More than $500,000</td>
                            <td>$500</td>
                            <td>$450</td>
                        </tr>
                        <tr>
                            <th scope="row">Non Residential Homestead</th>
                            <td>$1 Million or less</td>
                            <td>$500</td>
                            <td>$450</td>
                        </tr>
                        <tr>
                            <th scope="row">Non Residential Homestead</th>
                            <td>More than $1 Million but not more than $2 Million</td>
                            <td>$800</td>
                            <td>$750</td>
                        </tr>
                        <tr>
                            <th scope="row">Non Residential Homestead</th>
                            <td>More than $2 Million but not more than $3 Million</td>
                            <td>$1,050</td>
                            <td>$1,000</td>
                        </tr>
                        <tr>
                            <th scope="row">Non Residential Homestead</th>
                            <td>More than $3 Million but not more than $5 Million</td>
                            <td>$1,550</td>
                            <td>$1,500</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-lg-12 col-xs-12 mx-auto">
                <h5>Arbitration Presents Certain Risks Including:</h5>
            </div>
            <div class="col-lg-12 col-xs-12 mx-auto text-justify textspacebottom">
                <ul>
                    <li>Arbitration is binding - This means that once the arbitrator makes a determination, the property owner no longer has any recourse. The arbitrator essentially acts as both the judge and jury.</li>
                    <li>No selection options - Property owners and appraisal districts used to be able to agree on a specific arbitrator to hear the case. This is no longer an option. The comptroller now randomly selects an eligible arbitrator.</li>
                    <li>Bias - While arbitrators are supposed to be fair and unbiassed, this is not always the case. This bias can either help or hurt the property owner.</li>
                </ul>
            </div>
            <div class="col-lg-12 col-xs-12 mx-auto">
                <h5>How Arbitration Works:</h5>
            </div>
            <div class="col-lg-12 col-xs-12 mx-auto text-justify textspacebottom">
                <p>Within 45 days of receiving the determining order from the appraisal review board hearing, the property owner, or owner’s representative must file the necessary arbitration forms and deposit with the county in which the property is located. Filing these documents is very important, because the value requested by the owner will impact whether the owner receives their deposit back. Additionally, failure to properly fill out these documents can prevent the owner’s request for arbitration from being granted. Once the county receives the necessary documents, they will then send them to the comptroller.</p>
            </div>
            <div class="col-lg-12 col-xs-12 mx-auto">
                <p>The comptroller then selects an eligible arbitrator. Arbitrators must meet certain criteria including:</p>
            </div>
            <div class="col-lg-12 col-xs-12 mx-auto text-justify textspacebottom">
                <ul>
                    <li>They cannot have represented a property at the ARB in the subject’s county within the previous five years.</li>
                    <li>They must reside within the county in which the property under protest is located. However, if the county does not have any eligible arbitrators residing therein, the comptroller will then randomly select an arbitrator from the arbitrator registry.</li>
                </ul>
                <p>
                    After an arbitrator is selected. The arbitrator will contact the property owner and the county to set a hearing date along with the evidence submission deadlines. Failure to comply with the arbitrator’s evidence deadlines will prevent the arbitrator from considering the evidence.
                    The parties will then prepare their initial evidence and any rebuttal evidence for submission.
                    The arbitration hearing usually occurs either in person or via teleconference. After the conclusion of the hearing, the arbitrator then has 20 days to make a determination. The arbitrator’s determination will decide whether the property owner receives a refund of their deposit, or whether the deposit is used to pay the arbitrator.
                </p>
            </div>
            <div class="col-lg-12 col-xs-12 mx-auto">
                <h5>How The Deposit Refund Works:</h5>
            </div>
            <div class="col-lg-12 col-xs-12 mx-auto text-justify textspacebottom">
                <p>When the property owner or owner’s representative files the arbitration protest, they must designate a requested value. This requested value creates a range of possible values the arbitrator can select from. The range is between the value determined by the appraisal review board and the value requested by the property owner. Unlike an appraisal review board, an arbitrator cannot raise the value of the property. If the arbitrator’s determination is closer to the taxpayer’s requested value than to the value determined by the appraisal review board, then the taxpayer will receive a refund of their deposit (less $50.00). In this situation, the county appraisal district will be responsible for covering the arbitrator’s fee. However, if the arbitrator’s determination is an equal difference between the taxpayer’s requested value and the ARB value OR if the determined value is closer to the ARB value, then the deposit will be used to cover the arbitrator’s fee.</p>
            </div>
            <div class="col-lg-12 col-xs-12 mx-auto text-justify textspacebottom"><a href="https://comptroller.texas.gov/taxes/property-tax/arbitration/">Texas Comptroller's Arbitration Website</a></div>
        </div>
    </div>
</section>

