





  
        <div class="row ptcspacing">
            <div class="col-lg-12 col-xs-12 mx-auto border-bottom">
                <p class="lead" style="font-size: 3em">OUR CLIENTS</p>
            </div>
            <div>&nbsp</div>
            <div class="col-lg-12 col-xs-12 mx-auto text-justify">
                <blockquote>
                    <p>
                        Based out of San Antonio, Texas, Paladin represents an asset base of real and <strong>Business Personal Property</strong> with a combined value in excess of one billion dollars. Our expertise has saved our clients millions of dollars over the years on their real and personal <strong>property taxes</strong>.  As for real property, we operate mainly in Texas.  This requires our professionals to travel to various counties to assist you with your <strong>property tax needs</strong>. Regarding personal property, we perform administration services across the United States. Our knowledge of various states’ personal property systems places us in a unique position to assist companies with multistate operations.
                        &nbsp
                        <br>
                        Some of the types of <strong>commercial real estate</strong> and <strong>business personal property</strong> we specialize in include:
                    </p>
                </blockquote>
            </div>

            <div class="card-deck ptccardspacing mx-auto">
                <div class="card">
                    <img src="~/App_Themes/images/ptcimage3.png" alt="" class="card-img-top img-responsive img-rounded">
                    <div class="card-body">
                        <ul class="card-text">
                            <li>Multi-Family Housing</li>
                            <li>Hotel/Motel</li>
                            <li>Offices</li>
                            <li>Industrial</li>
                            <li>Retail</li>
                            <li>Restaurants</li>
                            <li>Golf Courses</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top img-responsive img-rounded" src="~/App_Themes/images/ptcimage4.png" alt="">
                    <div class="card-body">
                        <ul class="card-text">
                            <li>Inventory</li>
                            <li>Trucking &amp; Fleet Services</li>
                            <li>Manufacturing Equipment</li>
                            <li>Oilfield Equipment</li>
                            <li>Medical Equipment</li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="card ptccardspacing pull-left" style="border:none">
                <p class="lead card-title text-center" style="font-size: 2em">OUR KEY TEXAS MARKETS</p>
                <ul class="card-text">
                    <li>Corpus Christi | Nueces County</li>
                    <li>San Antonio | Bexar County</li>
                    <li>San Marcos | Hays County</li>
                    <li>Laredo | Webb County</li>
                    <li>Victoria | Victoria County</li>
                    <li>Rio Grande Valley | Hidalgo County</li>
                    <li>Austin, Texas | Travis County</li>
                </ul>
            </div>
            <div class="ptccardspacing">
                <p style="font-size: 1.25em"><i>Our reach expands all across Texas including the following Counties and surrounding areas:</i></p>
                <ul>
                    <li>San Patricio County, Bell County, Guadalupe County, Comal County, Cameron County, Willacy County, Starr County, Midland County, Ector County</li>
                </ul>
            </div>

        </div>