
    <img src="~/App_Themes/images/paladin_logo_v2.png" alt="business-personal-property-tax" class="img-fluid bounceInDown">

<!-- uncomment when running promotion <div class="alert alert-success" role="alert">
  <div class="lead text-center" style="font-size: 1.75em">Special Residential Promotion 35% Contingency-Fee of Tax Savings ZERO flat fees <p class="lead mx-auto" style="font-size: .50em">**Some Restrictions Apply**</p></div>
</div>-->

<div class="jumbotron bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12 col-lg-12">
                <h2>Call Us Today To Handle Your Property Tax Needs 210.776.1833</h2>
                <br />
                <p class="lead">Email Us For a Free Analysis Of Your Property</p>
            </div>
            <div class="col-sm-6 col-lg-3 col-sm-offset-3 col-md-3 col-xs-offset-4 col-xs-5 col-lg-offset-0 mx-auto">
                <a class="btn  btn-block btn-lg btn-success" href="mailto:info@proptaxprotest.com" title="">Email Us!</a>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <h1 class="display-4 text-center">Texas Property Tax Calendar</h1>
                <p>&nbsp;</p>
                <ul class="lead">
                    <li>January 1st - Assessment Date</li>
                    <li>April to May – Valuation notices mailed</li>
                    <li>April 1st – Business personal property renditions must be filed (however, an automatic 30 day extension will be granted upon request, and an additional 15 day extension may be granted by the appraisal district upon request and showing good cause)</li>
                    <li>May 15 or 30 days after valuation notices mailed, whichever occurs later – Appeal deadline</li>
                    <li>October to November – Tax bills mailed</li>
                    <li>February 1 of following year – Taxes become delinquent</li>
                </ul>
            </div>
        </div>
    </div>
</div>