



   
        <div class="row ptcspacing">
            <div class="col-lg-12 col-xs-12 mx-auto border-bottom">
                <p class="lead" style="font-size: 3em">WHAT WE OFFER OUR CLIENTS</p>
            </div>
            <div>&nbsp</div>
            <div class="col-lg-12 col-xs-12 text-justify center-block">
                <blockquote>
                    <p>Here at Paladin we focus exclusively on reducing our clients’ property tax expenditures. Paladin’s tax consultants specialize in <strong>commercial real property</strong> and <strong>business personal property</strong> valuations. Our professionals have dedicated their careers to building and maintaining relationships with assessor offices, appraisal districts, and other <strong>property tax consultants</strong> across the country. These relationships along with our in-depth understanding of local property markets places us in an ideal position to assist you with your property tax needs. Our professionals work on a contingency basis, meaning no flat fees or upfront costs. You pay us nothing unless we save you money.</p>
                </blockquote>
            </div>
            <div class="card-deck ptccardspacing mx-auto">

                <div class="card">
                    <img class="card-img-top img-responsive img-rounded" src="~/App_Themes/images/ptcimage1.png" alt="">
                    <div class="card-body">
                        <ul class="card-text">
                            <li>Analyzing assessments and performing <strong>real estate valuations</strong></li>
                            <li>Negotiating with appraisal districts on an informal basis</li>
                            <li>Filing formal <strong>property tax appeals</strong> with local and state authorities</li>
                            <li>Advocating cases at <strong>appraisal review board</strong> hearings</li>
                            <li>Representing clients on matters involving <strong>binding arbitration</strong></li>
                            <li>Providing <strong>litigation support</strong></li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top img-responsive img-rounded" src="~/App_Themes/images/ptcimage2.png" alt="">

                    <div class="card-body">
                        <ul class="card-text">
                            <li>Preparing and filing real estate returns, renditions, and appeals</li>
                            <li>Representing clients on <strong>business personal property</strong> tax audits</li>
                            <li>Performing acquisition and disposition analysis</li>
                            <li>Estimating property taxes for budget forecasting</li>
                            <li>Perfoming <strong>Agricultural Use Rollback Estimates</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

